# idea
*.iml
.idea
overlays
# eclipse
.project
.settings
.classpath
.metadata
# maven
target
# visual studio
*.suo
*.user
*.userosscache
*.sln.docstates
.gitignore
__pycache__/
*.pyc
*.py[cod]
*.jpg
#videos
*.mpg
*.avi
#models
*.hdf5
*.zip
*.png
